<div ng-controller="UserCtrl">
    <h1><?php echo $this->translate('Users'); ?></h1>

    <div id="user-actions" class="col-xs-6 col-lg-6 pull-right table-top-action-padding hidden-print">
        <div class="input-group">
            <div class="input-filter-container">
              <input type="text" class="form-control" ng-model="query" placeholder="<?php echo $this->translate('Filter or Create'); ?>" ng-disabled="!enableFilter">
              <p class="items-count">{{tableParams.total()}}</p>
            </div>
            <span class="input-group-btn">
                <button id="create-button" class="btn btn-success" type="button" ng-click="openModal('#user-create', 'email', query)"><?php echo $this->translate('Create'); ?></button>
            </span>
        </div>
    </div>

    <table ng-table="tableParams" class="table table-hover table-condensed table-data">
        <tr ng-repeat="user in $data" ng-dblclick="goto('/users/details/' + user.id)">
            <td data-title="'<?php echo $this->translate('Email'); ?>'" sortable="'email'">{{user.email}}</td>
            <td data-title="'<?php echo $this->translate('First Name'); ?>'" sortable="'firstName'">{{user.firstName}}</td>
            <td data-title="'<?php echo $this->translate('Last Name'); ?>'" sortable="'lastName'">{{user.lastName}}</td>
            <td data-title="'<?php echo $this->translate('Actions'); ?>'">
                <div class="container">
                  <div class="btn-group btn-group-xs">
                      <button type="button" title="<?php echo $this->translate('Change password'); ?>" class="btn btn-warning password" ng-click="passwordForm.id = user.id; openModal('#user-password');">
                        <span class="glyphicon glyphicon-asterisk"></span>
                      </button>
                      <button type="button" title="<?php echo $this->translate('Roles'); ?>" class="btn btn-primary roles" ng-click="openModalRoles(user)">
                        <span class="glyphicon glyphicon-tag"></span>
                      </button>
                      <button type="button" title="<?php echo $this->translate('Delete'); ?>" class="btn btn-danger delete" ng-click="deleteUser(user)">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <div id="user-roles" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3><?php echo $this->translate('User roles'); ?></h3>
              </div>
              <div class="modal-body">
                <ul>
                <?php foreach ($this->rolesParent as $parent): ?>
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" name="roles[]" value="<?php echo $this->escapeHtml($parent->getId()); ?>"/> <?php echo $this->escapeHtml($parent->getRoleId()); ?>
                        </label>
                        <?php foreach ($this->rolesChild as $child): ?>
                            <ul>
                            <?php if ($child->getParent() && $child->getParent()->getId() == $parent->getId()): ?>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" name="roles[]" value="<?php echo $this->escapeHtml($child->getId()); ?>"/> <?php echo $this->escapeHtml($child->getRoleId()); ?>
                                    </label>
                                </li>
                            <?php endif; ?>
                            </ul>
                        <?php endforeach; ?>
                    </li>
                <?php endforeach; ?>
                </ul>
              </div>
              <div class="modal-footer">
                <div class="form-group"><button type="button" class="btn btn-default form-control" data-dismiss="modal"><?php echo $this->translate('Close'); ?></button></div>
                <div class="form-group"><button type="button" class="btn btn-primary form-control save" data-loading-text="Save" ng-click="saveRoles()"><?php echo $this->translate('Save'); ?></button></div>
              </div>
            </div>
        </div>
    </div>

    <?php echo $this->partial('partial/modalcreate.phtml', array('id' => 'user-create', 'title' => $this->translate('Create User'), 'form' => $this->form)); ?>
    <?php echo $this->partial('partial/modalcreate.phtml', array('id' => 'user-password', 'title' => $this->translate('Set Password'), 'form' => $this->changePasswordForm)); ?>
</div>
